.accordion--wrapper {
    margin: 2rem auto 3rem;
    position: relative;
    width: 90%;
    height: 460px;
    display: flex;
    align-items: center;
    @include max-breakpoint($point0) {
      margin: 2rem auto;
    }
    @include max-breakpoint($point2) {
      height: 580px;
    }
    @include max-breakpoint($point3) {
      height: 720px;
    }
    @include max-breakpoint($point3 - 240) {
      height: 210vw;
    }
    @include max-breakpoint($point4 + 40) {
      height: 220vw;
    }
  
    .accordion-foto-bg--wrapper {
      width: 100vw;
      height: 100%;
      position: absolute;
      left: 0;
  
      > img:nth-of-type(1) {
        width: 60%;
        object-fit: contain;
        display: block;
        position: absolute;
        top: 10%;
        left: 0;
        @include max-breakpoint($point0 + 30) {
          display: none;
        }
      }
      > img:nth-of-type(2) {
        width: 40%;
        display: block;
        position: absolute;
        object-fit: contain;
        top: -25%;
        right: 0;
        @include max-breakpoint($point0 + 30) {
          display: none;
        }
      }
    }
    .wrapper {
      height: 100%;
      width: 100%;
      max-width: 1200px;
      left: 0;
      right: 0;
      margin: 0 auto;
      box-sizing: border-box;
      z-index: 2;
      border-radius: 30px;
      overflow: hidden;
      @include max-breakpoint($point1) {
        border-radius: 15px;
      }
      @include max-breakpoint($point2) {
        height: 100%;
      }
      @include max-breakpoint($point3){
        border-radius: 15px;
      }
      .gallery__accordion {
        display: flex;
        height: 100%;
        width: 100%;
        counter-reset: elem;
        @include max-breakpoint($point3) {
          flex-direction: column;
        }
      }
  
      .accordion__element {
        flex: 0.02 2 auto;
        // min-height: 700px;
        height: 100%;
        position: relative;
        transition: flex 500ms ease-in;
        scroll-behavior: smooth;
        backface-visibility: visible;
        overflow: hidden;
        color: #fff;
        @include max-breakpoint($point3) {
          flex: 0 0.6 auto;
        }
        &:hover {
          .accordion__title {
          }
          .accordion__accordion-desc {
          }
        }
      }
  
      .accordion__element--hover {
        flex: 7 1 auto;
        overflow: hidden;


        
        .accordion__title {
          background: $main-color-dark;
        }
  
        // .accordion__bg {
        //   &:after {
        //     @include max-breakpoint($point4 + 200) {
        //       border-left: 20px solid $domain-color;
        //     }
        //   }
        // }
        // img {
        // }
        // .accordion__accordion-desc {
        // }
      }
  
      .accordion__bg {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
  
        &:after {
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          display: block;
          content: "";
          width: 60px;
          height: 12px;
          left: 100px;
          top: calc(50% + 55px);
          backface-visibility: hidden;
          transform: translate(0, -50%);
          z-index: 15;
          opacity: 0;
          @include max-breakpoint($point1 - 100) {
            left: 40px;
          }
          @include max-breakpoint($point3) {
            left: 0;
            top: calc(50% + 55px);
          }
        }
        > img {
          width: calc(100% - 60px);
          object-fit: cover;
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 60px;
          display: none;
          @include max-breakpoint($point1 - 100) {
            left: 40px;
            width: calc(100% - 45px);
          }

        }
      }
  
      .accordion__title {
        background: $main-color-light;
        color: $color-white;
        position: relative;
        z-index: 2;
        height: 100%;
        width: 60px;
        font-family: $font-main;
        transition: background-color 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0;

        
        span{
          transform: rotate(-90deg);
          font-family: $font-main;
          font-weight: 600;
          font-size: 20px;
          width: max-content;
          display: flex;
          justify-content: flex-start;
          text-align: left;
          position: absolute;
          display: flex;

          @include max-breakpoint($point3){
            transform: rotate(0deg);
            margin-left: 60px;
            width: 100%;
            font-size: 18px;
          }
        }

        @include max-breakpoint($point1 - 100) {
          width: 40px;
          // writing-mode: tb-rl;
          // transform: rotate(180deg);
        }
        @include max-breakpoint($point3) {
          height: 60px;
          width: 100%;
          flex-direction: row;
          writing-mode: horizontal-tb;
          transform: rotate(0);
        }
        .title-container {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          position: relative;
          @include max-breakpoint($point3) {
            background-position: bottom left;
            // width: 55px;
            background-size: 100%;
            background-repeat: no-repeat;
            flex-direction: row;
          }
          &:before {
            position: absolute;
            counter-increment: elem;
            content: "0" counter(elem);
            bottom: 24px;
            margin: 0px auto;
            font-weight: bold;
            font-size: 2.6rem;

            @include max-breakpoint($point3) {
              // bottom: 0;
              transform: rotate(0);
              right: auto;
              left: 20px;
              bottom: 15px;
            }
          }
  
          // @include max-breakpoint($point1 - 200) {
          //   transform: rotate(180deg);
          //   border: none;
          //   display: inline;
          //   line-height: 80px;
          //   width: 80px;
          //   height: 80px;
          // }
          // @include max-breakpoint($point4 + 200) {
          //   line-height: 40px;
          //   width: 40px;
          //   height: 40px;
          // }
        }
        > span {
          display: block;
          text-align: center;
          padding-right: 0.8rem;
          padding-left: 0.8rem;
          padding-top: 1.2rem;
          box-sizing: border-box;
          line-height: 1.4;
          @include max-breakpoint($point1 - 200) {
            display: inline;
          }
          @include max-breakpoint($point3) {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            font-size: 1.2;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -25px;
            width: calc(100% - 55px);
          }
        }
      }
    }
  
    .accordion__accordion-desc {
      width: calc(100% - 60px);
      height: fit-content;
      font-size: 1.6rem;
      line-height: 1.6;
      position: absolute;
      bottom: 0;
      left: 60px;
      padding: 0;
      opacity: 0;
      color: $color-white;
      background-color: $main-color-dark;
      // transition: opacity 500ms ease-in;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: absolute;
      min-height: 95px;
      max-height: 240px;
      @include max-breakpoint($point1) {
        justify-content: flex-start;
        max-height: 150px;
      }
      @include max-breakpoint($point1 - 100) {
        left: 40px;
        width: calc(100% - 45px);
      }
      @include max-breakpoint($point3) {
        left: 0;
        width: 100%;
        height: 50%;
        max-height: unset;
      }
  
      > p {
        color: $color-white;
        font-family: $font-article;
        // width: 100%;
        min-width: 550px;
        max-width: 700px;
        margin: 20px 0;

      }
  
    }
  
    .accordion__element--hover .accordion__accordion-desc {
      opacity: 1;
    }
  
    .accordion__element--hover .accordion__bg {
      img {
        display: block;
        height: 80%;
        z-index: -1;

        @include max-breakpoint($point3) {
          left: 0;
          width: 100%;
          height: 240px;
          top: 60px;
        }
      }
      &:after {
        opacity: 1;
      }
    }
  
    .accordion-desc__title {
      font-size: 30px;
      // margin-bottom: 16px;
    }
    &.accordion--06-elm {
      @include max-breakpoint($point3) {
        height: 760px;
      }
      .accordion__element {
        @include max-breakpoint($point3) {
          flex: 0 3 auto;

          &:last-child{
            margin-bottom: -3px;
          }
        }
        &.accordion__element--hover {
          flex: 6 1 auto;

          @include max-breakpoint($point3){
            flex: 1 0.8 auto;
          }
        }
        .accordion__accordion-desc {
          > p {
            @include max-breakpoint(900px) {
              min-width: 470px;
            }
            @include max-breakpoint(860px) {
              min-width: 380px;
            }
            @include max-breakpoint(800px) {
              min-width: 300px;
            }
            @include max-breakpoint(600px) {
              min-width: 200px;
            }

          }
  
          > p:first-child:not(:last-child) {
            padding: 0;
            font-family: $font-article;
            font-size: 2.4rem;
            font-weight: 400;
            color: $main-color-dark;
            position: absolute;
            top: 1rem;
            @include max-breakpoint($point1) {
              font-size: 2rem;
              // position: relative;
              // padding-bottom: 2.4rem;
              top: 0;
              padding-top: 1.2rem;
            }
            @include max-breakpoint($point3) {
              min-width: 100px;
            }
          }
  
          > p:last-child {
            padding: 0;
            // margin-top: 3rem;
            // margin-bottom: 3rem;
            // position: absolute;
            @include max-breakpoint($point1) {
              font-size: 1.6rem;
              // position: relative;
              // margin-top: 0.8rem;
              // margin-bottom: 0;
            }
            @include max-breakpoint($point4 + 200) {
              font-size: 1.6rem;
              line-height: 2.8rem;
            }
            @include max-breakpoint($point4 - 1) {
              font-size: 1.6rem;
              // line-height: 1.2;
            }
          }
        }
      }
    }
  }
  